
<div class="container-sm text-center p-3 my-1" style="background-color: rgba(255, 255, 255, 0.774);">


    <div class="row" id="login">

        <div class="col-sm-3  border" style="border: solid 1px black; border-radius: 10px; ">
            <div id="letters">
                <h1>fitSafe</h1>
                <h4>- Admins -</h4> <br><br>
                <a routerLink="/home-admin" ><b>Home</b></a>  <br><br>
                <a routerLink="/manage-requests"><b>Customer Requests</b></a>
                <br><br>
                <a href="#" ><b>About us</b></a> <br>
                <a href="#" ><b>Gallery</b></a>  <br>
                <a href="#" ><b>Contact</b></a>
            </div>
        </div>

        <div class="col-sm-9" id="img">
           <app-count></app-count>
        </div>
        
    </div>
    

</div>

