<div class="container">
    <div class="row">
        <div class="col" id="sections" >
            <h4>Section 1</h4>
            <h1>{{sections[0].section_1}}</h1>
        </div>
        <div class="col" id="sections" >
            <h4>Section 2</h4>
            <h1>{{sections[0].section_2}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col" id="sections" >
            <h4>Section 3</h4>
            <h1>{{sections[0].section_3}}</h1>
        </div>
        <div class="col" id="sections" >
            <h4>Section 4</h4>
            <h1>{{sections[0].section_4}}</h1>
        </div>
    </div>
</div>
