
<div class="container-sm text-center p-3 my-1" style="background-color: rgba(255, 255, 255, 0.774);">


    <div class="row" id="login">

        <div class="col-sm-3  border" style="border: solid 1px black; border-radius: 10px; ">
            <div id="letters">
                <h1>fitSafe</h1> <br><br>
                <a routerLink="/home" ><b>Home</b></a>  <br><br>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/login-customer">User</a>
                    <a class="dropdown-item" routerLink="/login-admin">Admin</a>
                </div>
                <br><br>
                <a href="#" ><b>About us</b></a> <br>
                <a href="#" ><b>Gallery</b></a>  <br>
                <a href="#" ><b>Contact</b></a>
            </div>
        </div>

        <div class="col-sm-9" id="img">
            <img src="assets/images/gym.png" style="width: 500px; ">
        </div>
        
    </div>
    


</div>

